---
import { FacebookIcon, GithubIcon } from '../../svg'
import Container from '../wrapper/container.astro'

const creatorLink = {
  link: 'https://github.com/MengLinMaker',
  text: 'Created by MengLinMaker',
}

const socialIcon = [
  {
    link: 'https://www.facebook.com/profile.php?id=61555550600687',
    svg: FacebookIcon,
  },
  {
    link: 'https://github.com/MengLinMaker/Grocermatic',
    svg: GithubIcon,
  },
]
---

<footer class="bg-neutral-dark text-neutral-light font-semibold">
  <Container
    class="flex flex-col items-center text-center px-6 gap-y-4 py-16 md:py-6 md:flex-row md:justify-between"
  >
    <a
      href={creatorLink.link}
      target="_blank"
      class="w-72 underline hidden text-left md:block hover:brightness-75"
    >
      {creatorLink.text}
    </a>
    <div class="flex justify-center gap-1">
      {
        socialIcon.map((icon) => (
          <a href={icon.link} target="_blank">
            <icon.svg class="h-10 w-10 fill-neutral-light hover:brightness-75" />
          </a>
        ))
      }
    </div>
    <p class="w-72 md:text-right">Copyright © All right reserved</p>
    <a href={creatorLink.link} target="_blank" class="w-72 underline md:hidden hover:brightness-75">
      {creatorLink.text}
    </a>
  </Container>
</footer>
