---
import Favicon from '../svg/Favicon.astro'
import A from '../ui/A.astro'
import Container from '../wrapper/container.astro'
export const brandName1 = 'Grocer'
export const brandName2 = 'matic'
export const menuItems = [
  {
    title: 'Home',
    path: '/',
    aria: 'Grocermatic homepage',
  },
  {
    title: 'App',
    path: '/app',
    aria: 'Grocermatic app',
  },
  {
    title: 'Blog',
    path: '/blog',
    aria: 'Grocermatic blog',
  },
]
export const dropMenuHeight = `${menuItems.length * 2.5 + 0.5}em`
---

<nav class="sticky top-0 z-20 bg-white border-b select-none" aria-label="Navbar">
  <input id="hamburger-checkbox" type="checkbox" class="hidden" />
  <Container class="flex items-center py-3">
    <A
      class="flex items-center gap-1.5 w-56"
      href={menuItems[0]?.path}
      aria-label={menuItems[0]?.aria}
    >
      <Favicon class="h-10 w-10 fill-primary-medium" />
      <div class="flex">
        <p class="text-2xl font-bold text-primary-medium">{brandName1}</p>
        <p class="text-2xl font-bold text-secondary-medium">{brandName2}</p>
      </div>
    </A>
    <div class="hidden sm:flex w-full justify-end gap-8 px-6">
      {
        menuItems.map((link) => {
          return (
            <a class="font-medium text-neutral-medium" href={link.path}>
              {link.title}
            </a>
          )
        })
      }
    </div>
    <div class="sm:hidden flex w-full justify-end px-2 transition-all">
      <label for="hamburger-checkbox" class="relative cursor-pointer h-10 w-6">
        <div class="m-auto absolute top-0 right-0 left-0 bottom-0 w-[1.4em] h-[0.7em]">
          <span id="hamburger-top"></span>
          <span id="hamburger-bottom"></span>
        </div>
      </label>
    </div>
  </Container>
  <div id="nav-dropbar">
    {
      menuItems.map((link) => {
        return (
          <A class="font-medium text-lg text-neutral-medium" href={link.path}>
            {link.title}
          </A>
        )
      })
    }
  </div>
</nav>

<style is:global define:vars={{ dropMenuHeight }}>
  #hamburger-checkbox ~ div span {
    @apply absolute h-[2px] bg-neutral-dark rounded-full transition-transform duration-200 left-1/2 -translate-x-1/2 w-[1.2em];
  }
  #hamburger-checkbox:checked ~ div span {
    @apply w-full bottom-[0.275em];
  }

  #hamburger-checkbox:checked ~ div #hamburger-top {
    @apply rotate-45;
  }
  #hamburger-checkbox:checked ~ div #hamburger-bottom {
    @apply -rotate-45;
  }
  #hamburger-checkbox:not(:checked) ~ div #hamburger-top {
    @apply top-0;
  }
  #hamburger-checkbox:not(:checked) ~ div #hamburger-bottom {
    @apply bottom-0;
  }

  #nav-dropbar {
    @apply w-full flex flex-col gap-3 pb-3 items-center overflow-y-auto transition-all;
    height: var(--dropMenuHeight);
    -ms-overflow-style: none;
  }
  #nav-dropbar::-webkit-scrollbar {
    display: none;
  }
  #hamburger-checkbox:not(:checked) ~ #nav-dropbar {
    @apply h-0 p-0;
  }
</style>
